<div class="row-2">
    <div class="header-option text-center header">
        <NavLink href="/exercise"><i class="fa fa-plus-circle"></i> Create</NavLink>
    </div>
    <div class="header-option text-center header">
        <NavLink href="/exercises"><i class="fa fa-list"></i> List</NavLink>
    </div>
</div>
