@page "/session"
@inject ILocalStorageService localStorage

<div class="row">
    <Nav></Nav>
    <div class="vertical-center">
        <h1 class="spectacular-ad">Welcome @fullName <i class="fas fa-hand-peace"></i></h1>
    </div>
</div>

@code {
    private string fullName;
    protected override async Task OnInitializedAsync()
    {
        User user = await localStorage.GetItemAsync<User>("user");
        fullName = $"{user.FirstName} {user.LastName}";
    }
}
