@page "/"

<img alt="Wails logo" id="logo" src="/images/logo-universal.png">
<div class="result" id="result">Type your username to enter</div>
<div class="input-box" id="input">
    <input autocomplete="off" class="input" id="name" type="text" />
    <button class="btn">Enter</button>
</div>
