@page "/exercises"
@inject IExerciseService exerciseService

<div class="row">
    <Nav></Nav>
    <div>
        <Header></Header>
        <h2>Exercises</h2>
        <div>
            @if (exercises is null)
            {
                <Loader></Loader>
            }
            else
            {
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (exercises.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">No data</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var exercise in exercises)
                            {
                                <tr>
                                    <td>@exercise.Name</td>
                                    <td>@exercise.CreatedAt.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        <NavLink href="@($"/exercises/{exercise.Id}")">
                                            <i class="fa fa-info-circle"></i> Detail
                                        </NavLink>
                                    </td>
                                    <td>
                                        <button class="form-button-destroy" @onclick="@(async () => await OnDeleteAsync(exercise.Id))"><i class="fas fa-trash-alt"></i> Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<Exercise> exercises = new List<Exercise>();

    protected override async Task OnInitializedAsync()
    {
        exercises = await exerciseService.GetAllAsync();
        await base.OnInitializedAsync();
    }

    private async Task OnDeleteAsync(string id)
    {
        await exerciseService.DeleteAsync(id);
        exercises = exercises.Where(e => e.Id != id);
        StateHasChanged();
    }
}
