@inject ILocalStorageService LocalStorage

<div class="navigation">
    <NavLink href="/" Match="NavLinkMatch.All" class="no-style">
        <img src="/images/default-profile.png" alt="avatar" class="medium-uniform-polygon medium-white-border" />
    </NavLink>
    <h2 class="text-center">Sections</h2>
    <NavLink href="/exercises" Match="NavLinkMatch.All">
        <i class="fas fa-dumbbell"></i> Exercises
    </NavLink>
    <NavLink href="/users" Match="NavLinkMatch.All">
        <i class="fas fa-users"></i> Users
    </NavLink>
    <NavLink href="@($"/users/{userId}/progress")" Match="NavLinkMatch.All">
        <i class="fas fa-chart-line"></i> Progress
    </NavLink>
</div>

@code {
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        User user = await LocalStorage.GetItemAsync<User>("user");
        userId = user.Id;
        await base.OnInitializedAsync();
    }
}
